body {
    transition: background-color .5s;
    font-family: "Lato", sans-serif;
	background-color: #f9ffef;
	margin: 0;
	padding: 0;

}



form, table {
     display:inline;
     margin:0px;
     padding:0px;
}

input[readonly] {
  background-color:#ebebe4;
}

input[type='radio'] { 
	transform: scale(1.4);
}
input[type='checkbox'] { 
	transform: scale(1.4);
}
input[type='email'] { 
font-size: 22px;

}
input[type='submit'] { 
font-size: 18px;

}
input[type='reset'] { 
font-size: 18px;

}
input[type='time'] { 
height: 28px;
min-width:115px;
}
h1 {
	
	font-size: 22px;

	display: inline;
}

#peque {
	font-weigh:normal;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
  
article {
    margin-left: 0;
    padding: 1em;
    overflow: hidden;
}
	
input[type="time"] {
		width:90px;
	vertical-align:top;
		font-size:18px;
		font-weight: bold;
}

input[type="number"] {
	width:40px;
	text-align: center;
	font-size:18px;
	font-weight: bold;
}

